body {
    margin: 0;
}

.screen {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/contact-book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.second-pageheader {
    background-color:black;
}
header{
    height: 20vh;
}