footer {
    width: 100%;
    max-width: 1440px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: auto;
    background-color: white;
}

.footer-first {
    margin-top: 20px;
}

.footer__list {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

.footer__li {
    font-family: 'Source Sans Pro', normal;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: #64D810;
    text-decoration: none;
}