
$max-img-width: 600px;
$max-img-height: 400px;

.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}

  /*
.gallery {
    margin: 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        height: 100vh;

        &__column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
        }
        &__column img {
            margin-top: 8px;
            vertical-align: middle;
        }
    }
}

@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */