body {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-image: url(../images/books\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.title {
    &__h1 {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    }
    &__h3 {
    font-size: 40px;
    font-weight: 700;
    color:#64d810;
    padding:20px;
    }
    &__header {
    color: #64d810
    }   
}

.container {
    &__header {
        text-align: center;
    }
    &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    &__info1 {
    max-width: 30%;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-left: 8rem;
    font-size: 30px;
    font-family: 'Source Sans Pro', normal;
    color: black;
    }
}

.btn {
    border-style: solid;
    border-radius: 8px;
    font-size: 40px;
    max-width: 100%;
    padding: 20px;
    font-family: 'Source Sans Pro', normal;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;

    &__main {
    margin: auto;
    text-align: center;
    }

    &:hover{
    background-color: #64d810;
    transition: 0.5s ease-in-out;
    }
}
    
.book__icon {
    font-size: 60px;
    color: white;
}