.body__index {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-image: url(../images/books\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
}

.title {
    &__h1 {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    }
    &__h3 {
    font-size: 40px;
    font-weight: 700;
    color:#64d810;
    padding:20px;
    }
    &__header {
    color: #64d810
    }   
    &__undertext{
        margin-bottom: 30px;
    }
}

.container {
    &__header {
        text-align: center;
    }
    &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    &__info1 {
    max-width: 30%;
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-left: 8rem;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    }
}

.btn {
    border-style: solid;
    border-radius: 8px;
    font-size: 40px;
    max-width: 100%;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;

    &__main {
    margin: auto;
    text-align: center;
    }

    &:hover{
    background-color: #64d810;
    transition: 0.5s ease-in-out;
    }
}
    
.book__icon {
    font-size: 60px;
    color: white;
}

.footer__index{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content:center;
    width: 100%;
    max-width: 1440px;
    min-height: 20px;
    background-color:black;
    margin-top: auto; 
}
    
    /*&__first__index{
        margin-top:20px;
    }

    &__list__index{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
    &__li__index{
        font-family: 'Source Sans Pro', normal;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        
        letter-spacing: -0.346154px;
        color: #64D810;
        text-decoration: none;
    } 
} */

.footer__first__index {
    margin-top:20px;
 }
 
 .footer__list__index {
     width: 100%;
     max-width: 1440px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 20px;
 }
 
 .footer__li__index{
     font-family: 'Source Sans Pro', normal;
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 23px;
     letter-spacing: -0.346154px;
     color: #64D810;
     text-decoration: none;
 }


@media screen and (max-width: 600px) {
    .container__main{
        flex-direction:column;
    }
    .btn {
        max-width:60%;
        font-size:15px;
    }
    .title__h1{
        font-size: 40px;
    }
    .title__h3{
        font-size:20px;
    }
    .container__info1{
        font-size:15px;
        margin-left:1rem;
    }
   
    .book__icon{
        font-size:30px;
        color:#64d810;
    }
}