body {
    max-width: 1440px;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}


.title {
    display: flex;
    margin-left: 140px;
    font-family: 'Source Sans Pro', normal;
    font-size: 50px;
    color: #64D810;
    text-align: center;
}

.products {
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
    margin-left: 140px;
    gap: 20px 20px;
    width: 996px;
    height: min-content;
            

        &__box {
            background-color: #64D810;
            padding: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: white; 
            width: 242px;
            height: 382px; 
            text-align: center; 
                    
            
            &__h3 {
                font-size: 25px;
            }
            &__info{                
                text-align: center;
            }
            &__img{
                border: 3px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 150px;
            }
                &__button {
                    margin-top: 40px;
                    border: 2px solid white;
                    background-color: #64D810;
                    border-radius: 8px;
                    color: white;
                    padding: 15px 32px;
                        }
                    &__button:hover{
                        background-color: #4CAF50;
                        color: white;
                }
            }

        
}
.foot_products {
    width: 100%;
    max-width: 1440px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 0px;
    margin-right: 0px;
	background-color: white;
}

.footer_gallery {
	background-color: white;
    margin-top: 20px;
}

.footer__list {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

.footer__li {
    font-family: 'Source Sans Pro', normal;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: #64D810;
    text-decoration: none;
}
@media (max-width: 800px) {
    .title {

    }
    .products {
      flex: 50%;
      max-width: 50%;
    }
  }



  @media only screen and (max-width: 480px) {
    .title {
        font-size: 20px;
        margin-top: auto;
        margin: auto;
        text-align: start;
        }
	.products {
      flex: 100%;
	  flex-direction: column;
	  flex-wrap: wrap;
	  width: 100%;
    }
	.box {
		flex-direction: column;
	    width: 100%;
	    height: 300px;
        object-fit: cover;
        object-position: bottom;
	}
  }